:root {
  /* --primary-color: #047aed; */
  --primary-color: #01579b;
  --secondary-color: #002f6c;
  --light-color: #4f83cc;
  --blue-white: #d0e0f6;
  --palette-green: #32681d;
  --palette-lightGreen: 619648;
  --near-white: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}
